* {
  box-sizing: border-box;
}
body, html {
  height: 100%;
  margin: 0;
  font-size: 10px;
}
body {
  background: #ee369a;
  color: #fff;
  font-family: -apple-system, helvetica neue, sans-serif;
  font-size: 1.6rem;
}
h1 {
  font-weight: lighter;
}
.background {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
}
.infobar {
  border-bottom: 4px solid #ee369a;
  color: #333;
  display: none;
  font-size: 1.8rem;
  position: fixed;
  top: 0;
  width: 100vw;
  background: white;
  padding: 1rem;
  z-index: 10;
  min-height: 0;
  height: auto;
  transition: height 0.6s;
}
.infobar p {
  padding: 0;
  margin: 0;
  line-height: 1.4;
}
.expanded {
  color: #414243;
  cursor: pointer;
  width: 100vw;
  padding: 7rem;
  min-height: 100vh;
  font-size: 9vh;
}
.expanded p:after {
  content: " >";
  color: #ee369a;
}
.expanded button {
  display: none;
}
button {
  background: transparent;
  background-size: 100vw 100vh;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 1.6rem;
  opacity: 0;
  outline: none;
  outline: 0;
  padding: 2rem 6rem;
  position: fixed;
  text-align: center;
  z-index: 9;
  transition: opacity 0.3s;
}
.infobar button {
  color: #333;
}
button:hover {
  opacity: 1;
}
.textOnly button {
  opacity: 1;
}

/* full grid */

.size-0 {
  color: white;
  font-size: 8rem;
  width: 100vw;
  height: 96vh;
}

/* one cell */
.size-1 {
  width: 25vw;
  height: 24vh;
}

/* two across two down */
.size-2 {
  font-size: 4rem;
  width: 50vw;
  height: 48vh;
}

/* three across three down */
.size-3 {
  font-size: 4rem;
  width: 75vw;
  height: 72vh;
}

/* one across 2 down */
.size-4 {
  width: 25vw;
  height: 48vh;
}

/* two across one down */
.size-5 {
  width: 50vw;
  height: 24vh;
}

/* 100% across one down */
.size-6 {
  width: 100vw;
  height: 24vh;
}

/* 100% across two down */
.size-7 {
  font-size: 4rem;
  width: 100vw;
  height: 48vh;
}

/* one across 100% down */
.size-8 {
  width: 25vw;
  height: 96vh;
}

/* two across 100% down */
.size-9 {
  font-size: 4rem;
  width: 50vw;
  height: 96vh;
}

/* INLINE */
.size-10 {
  display: block;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 6px;
  text-align: right;
  padding: 0;
  text-transform: uppercase;
  opacity: 1;
}
.size-10 .go {
  color: #ee369a;
  font-size: 16px;
  position: relative;
  top: -1px;
}

/* TOP ROW */
.pos-0 {
  top: 0;
  left: 0;
}
.pos-1 {
  top: 0;
  left: 25vw;
  background-position: -25vw 0;
}
.pos-2 {
  top: 0;
  left: 50vw;
  background-position: -50vw 0;
}
.pos-3 {
  top: 0;
  right: 0;
  background-position: -75vw 0;
}

/* 2nd Row */

.pos-4 {
  top: 24vh;
  left: 0;
  background-position: 0 -24vh;
}
.pos-5 {
  top: 24vh;
  left: 25vw;
  background-position: -25vw -24vh;
}
.pos-6 {
  top: 24vh;
  left: 50vw;
  background-position: -50vw -24vh;
}
.pos-7 {
  top: 24vh;
  right: 0;
  background-position: -75vw -24vh;
}

/* 3rd Row */

.pos-8 {
  top: 48vh;
  left: 0;
  background-position: 0 -48vh;
}
.pos-9 {
  top: 48vh;
  left: 25vw;
  background-position: -25vw -48vh;
}
.pos-10 {
  top: 48vh;
  left: 50vw;
  background-position: -50vw -48vh;
}
.pos-11 {
  top: 48vh;
  right: 0;
  background-position: -75vw -48vh;
}

.pos-12 {
  background: rgba(255,255,255,.67);
  bottom: 0;
  color: #333;
  right: 0;
  background-position: -75vw -48vh;
  text-align: left;
  font-size: 3rem;
}
button.pos-12:after {
    content: " >";
    color: #ee369a;
}

/* INLINE */

.pos-16 {
  position: static;
}
