* {
    box-sizing: border-box;
}
body, html {
    height: 100%;
    margin: 0;
    font-size: 10px;
}
body {
    background: #ee369a;
    color: #333;
    font-family: -apple-system, helvetica neue, sans-serif;
    font-size: 1.6rem;
}
h1 {
    font-weight: lighter;
}
.background {
    height: 100vh;
    width: 100vw;
    background-position: left top;
    background-size: 100vw auto;
}
.infobar {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background: white;
    padding: 1rem;
    border-top: 2px solid #ee369a;
    z-index: 10;
}
button {
    background: transparent;
    background-size: 100vw auto;
    color: #333;
    cursor: pointer;
    border: none;
    font-size: 1.6rem;
    opacity: 0;
    outline: none;
    outline: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    z-index: 9;
    transition: opacity 0.3s;
}
button:hover {
    opacity: 1;
}

.textOnly button {
  opacity: 1;
}

/* full grid */
.size-0 {
    color: white;
    font-size: 8rem;
    width: 100vw;
    height: 96vh;
}

/* one cell */
.size-1 {
    width: 25vw;
    height: 24vh;
}

/* two across two down */
.size-2 {
    width: 50vw;
    height: 48vh;
}

/* three across three down */
.size-3 {
    width: 75vw;
    height: 72vh;
}

/* one across 2 down */
.size-4 {
    width: 25vw;
    height: 48vh;
}

/* two across one down */
.size-5 {
    width: 50vw;
    height: 24vh;
}

/* 100% across one down */
.size-6 {
    width: 100vw;
    height: 24vh;
}

/* 100% across one down */
.size-7 {
    width: 100vw;
    height: 48vh;
}

/* one across 100% down */
.size-8 {
    width: 25vw;
    height: 96vh;
}

/* two across 100% down */
.size-9 {
    font-size: 4rem;
    width: 50vw;
    height: 96vh;
}

/* INLINE */
.size-10 {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    text-align: right;
    float: right;
    font-size: 14px;
    text-transform: uppercase;
    opacity: 1;
}

.size-10 .go {
    color: #ee369a;
    font-size: 16px;
    position: relative;
    top: -1px;
}

/*
B1,       // pos-4
B2,       // pos-5
B3,       // pos-6
B4,       // pos-7
C1,       // pos-8
C2,       // pos-9
C3,       // pos-10
C4,       // pos-11
D1,       // pos-12
D2,       // pos-13
D3,       // pos-14
D4,       // pos-15
inline,   // pos-16
midCenter // pos-17*/


/* TOP ROW */

.pos-0 {
    top: 0;
    left: 0;
}
.pos-1 {
    top: 0;
    left: 25vw;
    background-position: -25vw 0;
}
.pos-2 {
    top: 0;
    left: 50%;
    background-position: -50vw 0;
}
.pos-3 {
    top: 0;
    right: 0;
}

/* 2nd Row */

.pos-4 {
    top: 24vh;
    left: 0;
    background-position: 0 25%;
}
.pos-5 {
    top: 24vh;
    left: 25vw;
    background-position: -25vw 25%;
}
.pos-6 {
    top: 24vh;
    left: 50%;
}
.pos-7 {
    top: 24vh;
    right: 0;
}

/* 3rd Row */

.pos-8 {
    top: 50%;
    left: 0;
}
.pos-9 {
    top: 50%;
    left: 25%;
}
.pos-10 {
    top: 50%;
    left: 50%;
}
.pos-11 {
    top: 50%;
    right: 0;
}

/* INLINE */

.pos-16 {
    position: static;
}
